#include <iostream>
#include <iomanip>
#include <string>

using namespace std;
void order();
void orderplacement();

int main() {
	orderplacement();
}


void orderplacement() {
	
	char answer;



	cout << "+==============================+============+============+============+============+============+=================+\n";
	cout << "|          Item(No.)           | Star 1(RM) | Star 2(RM) | Star 3(RM) | Star 4(RM) | Star 5(RM) | Warranty(Years) |\n";
	cout << "+==============================+============+============+============+============+============+=================+\n";
	cout << "| 1.Laptop                     |   1522.00  |   2200.00  |   2530.00  |   3130.00  |   3570.00  |        3        |\n";
	cout << "+------------------------------+------------+------------+------------+------------+------------+-----------------+\n";
	cout << "| 2.Phone                      |   10000.00 |   10000.00 |   10000.00 |   10000.00 |   10000.00 |        2        |\n";
	cout << "+------------------------------+------------+------------+------------+------------+------------+-----------------+\n";
	cout << "| 3.Ipad                       |   10000.00 |   10000.00 |   10000.00 |   10000.00 |   10000.00 |        2        |\n";
	cout << "+------------------------------+------------+------------+------------+------------+------------+-----------------+\n";
	cout << "| 4.Tablet                     |   10000.00 |   10000.00 |   10000.00 |   10000.00 |   10000.00 |        2        |\n";
	cout << "+------------------------------+------------+------------+------------+------------+------------+-----------------+\n";
	cout << "| 5.Power Bank                 |   10000.00 |   10000.00 |   10000.00 |   10000.00 |   10000.00 |        1        |\n";
	cout << "+------------------------------+------------+------------+------------+------------+------------+-----------------+\n";
	cout << "| 6.Air Conditioner            |   10000.00 |   10000.00 |   10000.00 |   10000.00 |   10000.00 |        5        |\n";
	cout << "+------------------------------+------------+------------+------------+------------+------------+-----------------+\n" << endl;


	order();
		
	
	do {
		cout << "Is this correct?(Y/N) : ";
		cin >> answer;
		
			order();
		} while (answer == 'n' || answer == 'N');


	

}

void order() {

	int c = 1;
	int order;
	int laptop = 0;
	int laptop2 = 0;
	int laptop3 = 0;
	int laptop4 = 0;
	int laptop5 = 0;
	int phone = 0;
	int phone2 = 0;
	int phone3 = 0;
	int phone4 = 0;
	int phone5 = 0;
	int ipad = 0;
	int ipad2 = 0;
	int ipad3 = 0;
	int ipad4 = 0;
	int ipad5 = 0;
	int star = 1;
	int star2 = 2;
	int star3 = 3;
	int star4 = 4;
	int star5 = 5;

	int starl{};
	int starp{};
	int staripad{};
	char customer;

	do {
	cout << "Customer " << c << "                                                     16 July 2024" << endl << endl;
	cout << "Order: ";
	cin >> order;
	if (order < 1 || order >6) {
		cout << "We do not have a item for that number. Please enter a valid number." << endl << endl;
		cout << "Customer " << c << "                                                     16 July 2024" << endl << endl;
		cout << "Order: ";
		cin >> order;
	}
	else if (order == 1) {
		cout << "Order Laptop" << endl;
		do {
			cout << "Star:";
			cin >> starl;

			switch (starl) {
			case 1:
				cout << "Price :RM1522.00" << endl;
				laptop++;
				break;
			case 2:
				cout << "Price :RM2200.00" << endl;
				laptop2++;
				break;
			case 3:
				cout << "Price :RM2530.00" << endl;
				laptop3++;
				break;
			case 4:
				cout << "Price :RM3130.00" << endl;
				laptop4++;
				break;
			case 5:
				cout << "Price :RM3570.00" << endl;
				laptop5++;
				break;
			default:cout << "No star value detected. Try again." << endl << endl;
				break;
			}
		} while (starl < 1 || starl >5);


	}
	else if (order == 2) {
		cout << "Order Phone" << endl;
		do {
			cout << "Star:";
			cin >> starp;

			switch (starp) {
			case 1:
				cout << "Price :RM1260.00" << endl;
				phone++;
				break;
			case 2:
				cout << "Price :RM1520.00" << endl;
				phone2++;
				break;
			case 3:
				cout << "Price :RM1830.00" << endl;
				phone3++;
				break;
			case 4:
				cout << "Price :RM2070.00" << endl;
				phone4++;
				break;
			case 5:
				cout << "Price :RM2360.00" << endl;
				phone5++;
				break;
			default:cout << "No star value detected. Try again." << endl << endl;
				break;
			}
		} while (starp < 1 || starp >5);
	}
	else if (order == 3) {
		cout << "Order Ipad" << endl;
		do {
			cout << "Star:";
			cin >> staripad;

			switch (staripad) {
			case 1:
				cout << "Price :RM1500.00" << endl;
				ipad++;
				break;
			case 2:
				cout << "Price :RM2199.99" << endl;
				ipad2++;
				break;
			case 3:
				cout << "Price :RM2500.00" << endl;
				ipad3++;
				break;
			case 4:
				cout << "Price :RM2749.99" << endl;
				ipad4++;
				break;
			case 5:
				cout << "Price :RM3099.99" << endl;
				ipad5++;
				break;
			default:cout << "No star value detected. Try again." << endl << endl;
				break;
			}
		} while (staripad < 1 || staripad >5);


	}
	cout << "Anymore orders?(Y/N) :";
	cin >> customer;
	cout << " " << endl;
	} while (customer == 'y' || customer == 'Y');


	cout << "Order complete.";

	if (laptop >= 1) {

		cout << "You have bought " << laptop << " amount of 1 star laptop." << endl;

	}
	if (laptop2 >= 1) {

		cout << "You have bought " << laptop2 << " amount of 2 star laptop." << endl;
	}
	if (laptop3 >= 1) {

		cout << "You have bought " << laptop3 << " amount of 3 star laptop." << endl;
	}
	if (laptop4 >= 1) {

		cout << "You have bought " << laptop4 << " amount of 4 star laptop." << endl;
	}
	if (laptop5 >= 1) {

		cout << "You have bought " << laptop5 << " amount of 5 star laptop." << endl;
	}




	


}
